<div class="card p-8">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-bold">Gestión de Etiquetas</h2>

    <button
      pButton
      type="button"
      class="p-button p-component bg-blue-500 hover:bg-blue-600 text-white"
      icon="pi pi-plus"
      label="Nueva etiqueta"
      [routerLink]="['/labels/create']">
    </button>
  </div>

  <ng-container *ngIf="labels$ | async as labels">
    <p-table
      [value]="labels"
      [loading]="loading$ | async"
      stripedRows
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">

      <ng-template pTemplate="header">
        <tr>
          <th class="text-left">ID</th>
          <th class="text-left">Nombre</th>
          <th class="text-left">Descripción</th>
          <th class="text-left">Estado</th>
          <th class="text-center">Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-label>
        <tr>
          <td>{{ label.id }}</td>
          <td class="font-medium text-slate-800">{{ label.nombre }}</td>
          <td class="text-slate-600">{{ label.descripcion || '—' }}</td>
          <td>
            <p-tag
              [value]="label.status === 'ACTIVATE' ? 'Activo' : 'Inactivo'"
              [severity]="label.status === 'ACTIVATE' ? 'success' : 'danger'">
            </p-tag>
          </td>

          <td class="text-center">
            <div class="flex justify-center gap-2">

              
              <button
                pButton
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-text p-button-warning"
                [routerLink]="['/labels/update', label.id]"
                pTooltip="Editar">
              </button>
              
              
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-text p-button-danger"
                (click)="deleteLabel(label)"
                pTooltip="Eliminar físico">
              </button>

              
              <button
                *ngIf="label.status === 'ACTIVATE'"
                pButton
                type="button"
                icon="pi pi-ban"
                class="p-button-rounded p-button-text p-button-secondary"
                (click)="deleteLabelAdv(label)"
                pTooltip="Marcar INACTIVE">
              </button>

            </div>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
