main {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header  header  header  header"
        "aside  section section section section"
        "footer footer  footer  footer  footer";
    row-gap: 0;
    column-gap: 0;
    grid-template-rows: 20% 70% 10%;
    height: 98vh;
}

header {
  grid-area: header;
  border: 1px solid #fff;
  background: #fff;        
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20%;             
  z-index: 1000;           
}
section {
  margin-top: 1%;         
}


aside {
    grid-area: aside;
    border: 5px solid rgb(255, 255, 255);
}

section {
    grid-area: section;
    border: 1px solid rgb(255, 255, 255);
    overflow-y: auto; 
}

.recuadros {
    display: flex;
    flex-flow: row wrap;
    row-gap: 20px;
    margin: 2px 20px 2px 5px;
}

.elemento {
    width: 25%;
}


footer {
    grid-area: footer;
    border: 1px solid rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2%;  
    background: #ffffff; 
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
