

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="card p-4 max-w-screen-xl mx-auto">
  <div class="flex items-center justify-between mb-3">
    <h2 class="text-xl font-semibold text-slate-800">Estudios</h2>

    <a pButton label="Nuevo Estudio" icon="pi pi-plus" routerLink="/studies/create"></a>
  </div>

  <p-table
    [value]="(studies$ | async) || []"
    [loading]="loading$ | async"
    dataKey="id"
    [rowHover]="true"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10,20,50]"
    responsiveLayout="scroll"
    styleClass="p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 80px">#ID</th>
        <th>Paciente</th>
        <th>Modalidad</th>
        <th>Equipo</th>
        <th>Médico</th>
        <th>Tecnólogo</th>
        <th>Fecha/Hora</th>
        <th>Prioridad</th>
        <th>Etiquetas</th>
        <th style="width: 220px; text-align:center">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr>
        <td>{{ row.id }}</td>
        <td>{{ fullPatientName(row) }}</td>
        <td>{{ modalityName(row) }}</td>
        <td>{{ teamName(row) }}</td>
        <td>{{ doctorName(row) }}</td>
        <td>{{ technologistName(row) }}</td>
        <td>{{ row.fechaHora | date:'short' }}</td>
        <td>{{ row.prioridad }}</td>
        <td>{{ labelsCount(row) }}</td>

        <td class="text-center">
          <div class="flex justify-center gap-2">

            

            
            <button
              pButton
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text p-button-warning"
              [routerLink]="['/studies/update', row.id]"
              pTooltip="Editar">
            </button>


            
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="deleteStudy(row)"
              pTooltip="Eliminar físico">
            </button>

            
            <button
              *ngIf="row.status === 'ACTIVE' || row.status === 'ACTIVATE'"
              pButton
              type="button"
              icon="pi pi-ban"
              class="p-button-rounded p-button-text p-button-secondary"
              (click)="deleteStudyAdv(row)"
              pTooltip="Marcar INACTIVE">
            </button>

          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="10">No hay estudios activos.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
