<!-- src/app/components/doctors/showdoctors/showdoctors.html -->
<div class="mx-auto w-full max-w-[1100px] p-4 sm:p-6">
  <div class="mb-3 flex items-center justify-between">
    <h2 class="text-lg font-semibold text-slate-800">Médicos</h2>
    <a
      routerLink="/doctors/create"
      pButton
      label="Agregar Médico"
      class="p-button-sm p-button-success">
    </a>
  </div>

  <ng-container *ngIf="doctors$ | async as doctors">
    <p-table
      [value]="doctors"
      [paginator]="true"
      [rows]="8"
      [loading]="loading$ | async"
      responsiveLayout="scroll"
      [tableStyle]="{ 'min-width': '70rem' }"
      dataKey="id"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Especialidad</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Registro</th>
          <th>Estado</th>
          <th class="w-40 text-center">Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-d>
        <tr>
          <td>{{ d.id }}</td>
          <td>{{ d.nombre }}</td>
          <td>{{ d.especialidad }}</td>
          <td>{{ d.telefono }}</td>
          <td>{{ d.correo }}</td>
          <td>{{ d.registro || '—' }}</td>
          <td>
            <span
              class="px-2 py-0.5 rounded-full text-xs"
              [class.bg-green-100]="d.status === 'ACTIVATE'"
              [class.text-green-700]="d.status === 'ACTIVATE'"
              [class.bg-red-100]="d.status === 'INACTIVE'"
              [class.text-red-700]="d.status === 'INACTIVE'">
              {{ d.status === 'ACTIVATE' ? 'Activo' : 'Inactivo' }}
            </span>
          </td>
          <td class="flex items-center justify-center gap-2">
            <a
            [routerLink]="['/doctors/update', d.id]"
            pButton
            icon="pi pi-pencil"
            class="p-button-rounded p-button-sm p-button-info"
            pTooltip="Editar médico">
          </a>

            <button
              pButton
              icon="pi pi-ban"
              class="p-button-rounded p-button-sm p-button-warning"
              pTooltip="Marcar como INACTIVE"
              (click)="deleteDoctorAdv(d)">
            </button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-sm p-button-danger"
              pTooltip="Eliminar definitivamente"
              (click)="deleteDoctor(d)">
            </button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8" class="text-center text-slate-500">
            No se encontraron médicos activos.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>

  <p-confirmDialog></p-confirmDialog>
  <p-toast></p-toast>
</div>
