@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
@import "tailwindcss";

html, body { height: 100%; margin: 0; font-family: Inter, Roboto, "Helvetica Neue", sans-serif; }
.p-tooltip .p-tooltip-text {
  white-space: nowrap;  
}
